@media (max-width: 1024px) {
    html {
      font-size: 50%;
    }
    section {
        padding: 5.4rem 0;
    }
  }
@media (max-width: 768px) {
    html {
      font-size: 43.75%;
    }
    section {
        padding: 5.4rem 0;
    }
  }
@media (max-width: 568px) {
    html {
        font-size: 37.5%;
    }
    .btn {
        font-size: 2rem;
    }
  }
@media (max-width: 426px) {
    html {
        font-size: 31.25%;
    }
    .container{
        flex-direction: column;
        gap: 2rem;
        width: 95%;
    }
    .registration-panel{
        padding: 2.2rem 8.2rem;
    }
    .registration-form{
        width: 100%;

    }
    .input-data{
        font-size: 2rem;
    }
    .input-label{
        font-size: 1.5rem;
    }
    .hero-msg{
        text-align: center;
    }
    .hero-msg::before{
        left: 50%;
        transform: translate(-50%);
    }
    .btn {
        font-size: 1.5rem;
    }
  }
  @media (max-width: 260px) {
    html {
        font-size: 25%;
    }
  }